<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row d-flex text-center">
                <div>
                  <img
                    src="https://res.cloudinary.com/dwirzebm8/image/upload/v1671724862/portfolio/foto-de-perfil_sx6idg.jpg"
                    class="img-fluid rounded b-shadow-a" alt="" width="300px">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left text-uppercase font-primary">
                    Acerca de mí
                  </h5>
                </div>
                <div class="about-info font-secondary">
                  <p class="mb-1"><span class="title-s">Nombre: </span> <span>Leandro Deferrari</span></p>
                  <p><span class="title-s">Perfil: </span> <span>Java Developer</span></p>
                </div>
                <p class="font-secondary">
                  Queriendo conseguir mi primer empleo IT, en donde pueda ampliar mis conocimientos, formar parte de un
                  equipo de trabajo y aportar valor a la empresa.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
