<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div *ngIf="about" class="row">
            <div class="col-md-6">
              <div class="row d-flex text-center">
                <div>
                  <img
                    src='{{about.profilePhotoUrl}}'
                    class="img-fluid rounded b-shadow-a" alt="" width="300px">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left text-uppercase font-primary">
                    Acerca de mí
                  </h5>
                </div>
                <div class="about-info font-secondary">
                  <p class="mb-1"><span class="title-s">Nombre: </span> <span>{{about.fullName}}</span></p>
                  <p><span class="title-s">Perfil: </span> <span>{{about.title}}</span></p>
                </div>
                <p class="font-secondary">
                  {{about.aboutMe}}
                </p>
              </div>
            </div>
          </div>
          <button *ngIf="isAuth()" class="pencil-image"><i class="bi bi-pen-fill"></i></button>
          <button *ngIf="isAuth()" class="trashcan-image"><i class="bi bi-trash-fill"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
