<section class="row container-fluid justify-content-center text-center font-global mt-3">
  <div class="col-12 col-md-6 mb-3">
    <img
      src="https://res.cloudinary.com/dwirzebm8/image/upload/v1671724862/portfolio/foto-de-perfil_sx6idg.jpg"
      class="img-fluid box mb-3"
      alt="Profile Photo"
    />
    <p class="h4"><b>Leandro Deferrari Arevalo</b></p>
    <p class="h4"><b>Java Developer</b></p>
    <div class="text-center mt-3">
      <a
        href="https://drive.google.com/file/d/1fao9swtIL21JLkNs94Qc4xZ2ePZQA8my/view?usp=sharing"
        target="_blank"
      >
        <button class="btn btn-dark font-global" type="button">
          <b class="h6" style="text-decoration: none">Ver CV</b>
        </button>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-3" id="about-me">
    <div class="row text-center mb-xl-5">
      <h1 class="mt-lg-0 mt-xl-5"><b>Acerca de Mí</b></h1>
    </div>
    <div class="row text-center mb-xl-3">
        <h4 class="mt-lg-0 mt-xl-3">
          Queriendo conseguir mi primer empleo IT, en donde pueda ampliar mis
          conocimientos, formar parte de un equipo de trabajo y aportar valor a la
          empresa.
        </h4>
    </div>
  </div>
</section>
