<!-- ======= Resume carreras Section ======= -->
<section id="studies" class="resume">
  <div class="container">

    <div class="title-left text-uppercase font-primary">
      <h2>Estudios</h2>
    </div>

    <div class="row font-secondary" id="careers">
      <div data-aos="fade-up">
        <h3 class="resume-title text-uppercase">Carreras y tecnicaturas</h3>
        <div class="resume-item">
          <h4>Tecnicatura en Desarrollo de Software</h4>
          <h5>08/2022 - 12/2024</h5>
          <p><em>Instituto de Formación Tecnica Superior (IFTS) N° 11, Parque Patricios - CABA - Buenos Aires -
              Argentina.</em></p>
          <p>Perfil capacitado para producir artefactos de software (reutilizando elementos existentes o programándolos
            enteramente), cumpliendo con los criterios de realización establecidos para las mismas, en el marco de un
            equipo de trabajo organizado por proyecto.</p>
          <p>Materias aprobadas: 4 - Materias totales: 23</p>
          <a href="https://www.ifts11.com/wp/carreras/plan-de-desarrollo-de-software/#page-content" target="_blank">
            <button class="btn btn-dark btn-sm" type="button">
              Ver Plan de Estudio
            </button>
          </a>
        </div>
        <div class="resume-item">
          <h4>Tecnicatura en Desarrollo de Software</h4>
          <h5>08/2022 - 12/2024</h5>
          <p><em>Instituto de Formación Tecnica Superior (IFTS) N° 11, Parque Patricios - CABA - Buenos Aires -
              Argentina.</em></p>
          <p>Perfil capacitado para producir artefactos de software (reutilizando elementos existentes o programándolos
            enteramente), cumpliendo con los criterios de realización establecidos para las mismas, en el marco de un
            equipo de trabajo organizado por proyecto.</p>
          <p>Materias aprobadas: 4 - Materias totales: 23</p>
          <a href="https://www.ifts11.com/wp/carreras/plan-de-desarrollo-de-software/#page-content" target="_blank">
            <button class="btn btn-dark btn-sm" type="button">
              Ver Plan de Estudio
            </button>
          </a>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->

<!-- ======= Resume cursos  Section ======= -->
<section id="courses" class="resume">
  <div class="container">

    <div class="row font-secondary">
      <div data-aos="fade-up">
        <h3 class="resume-title text-uppercase">Cursos y capacitaciones</h3>
        <div class="resume-item">
          <h4>FullStack Developer</h4>
          <h5>11/2021 - 09/2022</h5>
          <p><em>Egg Educación, Ciudad de Mendoza - Mendoza -
              Argentina.</em></p>
          <a href="https://drive.google.com/file/d/1jkKNvYbJd-Ag2m1hr89DyQNYWGa3BPzE/view?usp=sharing" target="_blank">
            <button class="btn btn-dark btn-sm" type="button">
              Ver Certificado
            </button>
          </a>
        </div>
        <div class="resume-item">
          <h4>FullStack Developer</h4>
          <h5>11/2021 - 09/2022</h5>
          <p><em>Egg Educación, Ciudad de Mendoza - Mendoza -
              Argentina.</em></p>
          <a href="https://drive.google.com/file/d/1jkKNvYbJd-Ag2m1hr89DyQNYWGa3BPzE/view?usp=sharing" target="_blank">
            <button class="btn btn-dark btn-sm" type="button">
              Ver Certificado
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Resume Section -->
