<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
  style="background-image: url(https://res.cloudinary.com/dwirzebm8/image/upload/v1672687495/portfolio/wallpaperflare.com_wallpaper_2_j5ckxl.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="title-box-2">
                  <h5 class="title-left font-primary">
                    Contactarme
                  </h5>
                </div>
                <div class="font-secondary">
                  <form (ngSubmit)="onSubmit()" role="form">
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre..."
                            [(ngModel)]="email.name" required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Tu email..."
                            [(ngModel)]="email.email" required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto..."
                            [(ngModel)]="email.subject" required>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" name="message" rows="3" placeholder="Mensaje..."
                            [(ngModel)]="email.message" required></textarea>
                        </div>
                      </div>
                      <div class="col-md-12 text-center mt-3">
                        <button type="submit" class="button button-a button-sm button-rouded">Enviar mensaje</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div *ngIf="contact" class="col-md-6 font-secondary">
                <div class="title-box-2 pt-2 pt-md-0 mb-3">
                  <h5 class="title-left font-primary">
                    Mis redes sociales
                  </h5>
                </div>
                <div class="more-info mt-5">
                  <p class="mb-0">En este apartado, encontrarán:</p>
                  <ul class="p-1">
                    <li>
                      Mi GitHub: En donde podrán ver lo que vengo desarrollando.
                    </li>
                    <li>
                      Mi LinkedIn: En donde subo publicaciones, logros, etc.
                    </li>
                    <li>
                      Mi CV: Hoja de vida que voy actualizando cada 1/2 meses.
                    </li>
                  </ul>
                  <ul class="list-ico">
                    <li><span class="bi bi-geo-alt"></span>La Matanza - Buenos Aires - Argentina</li>
                    <li><span class="bi bi-envelope"></span>{{contact.email}}</li>
                  </ul>
                </div>
                <div class="socials">
                  <ul>
                    <li><a title="GitHub" href='{{contact.gitHubUrl}}' target="_blank" rel="noopener noreferrer"><span
                          class="ico-circle"><i class="bi bi-github"></i></span></a></li>
                    <li><a title="LinkedIn" href='{{contact.linkedInUrl}}' target="_blank"
                        rel="noopener noreferrer"><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a>
                    </li>
                    <li><a title="ver CV en Google Drive" href='{{contact.cvUrl}}' target="_blank"
                        rel="noopener noreferrer"><span class="ico-circle"><i
                            class="bi bi-file-person-fill"></i></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
