<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img
        src="https://res.cloudinary.com/dwirzebm8/image/upload/v1671725253/portfolio/APLogo_wfu9qh.png"
        class="img-fluid"
        alt="Logo Argentina Programa"
      />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav font-global justify-content-start me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#about-me"
            ><b>Acerca de mí</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#job-experience"
            ><b>Experiencia Laboral</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#education"
            ><b>Educación</b></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#course-and-training"
            ><b>Cursos y Capacitaciones</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#knowledge"
            ><b>Conocimientos</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#project"
            ><b>Proyectos</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#contact"
            ><b>Contacto</b></a
          >
        </li>
      </ul>
      <div class="nav d-flex justify-content-center mb-2 mb-xl-0">
        <a
          class="nav-link active"
          href="mailto:leandro_deferrari@hotmail.com"
          target="_blank"
        >
          <img
            src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672197597/portfolio/gmail-tile_hmpthb.svg"
            class="img-fluid rounded-top"
            alt="Logo Email"
            width="25"
            height="25"
          />
        </a>
        <a
          class="nav-link active"
          href="https://www.linkedin.com/in/leandrodeferrari/"
          target="_blank"
        >
          <img
            src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672197477/portfolio/linkedin-tile_yhgi1j.svg"
            class="img-fluid rounded-top"
            alt="Logo LinkedIn"
            width="25"
            height="25"
          />
        </a>
        <a
          class="nav-link active"
          href="https://github.com/leandrodeferrari"
          target="_blank"
        >
          <img
            src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672197364/portfolio/github-tile_mqhlcq.svg"
            class="img-fluid rounded-top"
            alt="Logo GitHub"
            width="25"
            height="25"
          />
        </a>
      </div>
      <div class="text-center">
        <button
          class="btn btn-outline-light font-global"
          type="button"
          data-mdb-ripple-color="dark"
        >
          <b>Iniciar Sesión</b>
        </button>
      </div>
    </div>
  </div>
</nav>
