<div id="hero" class="hero route bg-image" style="background-image: url({{banner?.bannerUrl}});">
  <div class="overlay-itro"></div>
  <div class="hero-content display-table">
    <div class="table-cell">
      <div class="container font-primary">
        <h1 class="hero-title mb-4">
          ¡Bienvenidos <br />
          a mi Portfolio!
        </h1>
      </div>
    </div>
  </div>
  <button *ngIf="isAuth()" class="pencil-image"><i class="bi bi-pen-fill"></i></button>
  <button *ngIf="isAuth()" class="trashcan-image"><i class="bi bi-trash-fill"></i></button>
</div>
