<nav class="navbar navbar-expand-lg navbar-dark fixed-top font-primary font-bold" (scroll)="onWindowScroll();">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://res.cloudinary.com/dwirzebm8/image/upload/v1671725253/portfolio/APLogo_wfu9qh.png"
        class="img-fluid" alt="Logo Argentina Programa" width="100px" loading="lazy" />
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll"
      aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#hero">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Acerca de mí</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#studies" id="btn-dropdown-studies" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Estudios
          </a>
          <ul class="dropdown-menu" aria-labelledby="btn-dropdown-studies">
            <li><a class="dropdown-item" href="#careers">Carreras y tecnicaturas</a></li>
            <li><a class="dropdown-item" href="#courses">Cursos y capacitaciones</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#experience" id="btn-dropdown-experience" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Experiencia
          </a>
          <ul class="dropdown-menu" aria-labelledby="btn-dropdown-experience">
            <li><a class="dropdown-item" href="#work">Laboral</a></li>
            <li><a class="dropdown-item" href="#projects">Proyectos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#knowledge">Conocimientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
