<!-- ======= Resume laboral Section ======= -->
<section id="experience" class="resume">
  <div class="container">

    <div class="title-left text-uppercase font-primary">
      <h2>Experiencia</h2>
    </div>

    <div class="row font-secondary" id="work">
      <div data-aos="fade-up">
        <h3 class="resume-title text-uppercase">Laboral</h3>
        <div class="resume-item">
          <h4>Trabajo ficticio</h4>
          <h5>12/2022 - <em>Actualidad</em></h5>
          <p><em>Alkemy, Manhathan - Nueva York -
              EE.UU.</em></p>
          <p>Tareas varias con Angular y Java.</p>
          <p>Seniority: Trainee</p>
          <p>Tipo: Contractor</p>
        </div>
        <div class="resume-item">
          <h4>Trabajo ficticio</h4>
          <h5>12/2022 - <em>Actualidad</em></h5>
          <p><em>Alkemy, Manhathan - Nueva York -
              EE.UU.</em></p>
          <p>Tareas varias con Angular y Java.</p>
          <p>Seniority: Trainee</p>
          <p>Tipo: Contractor</p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->

<!-- ======= Resume proyectos  Section ======= -->
<section id="projects" class="resume">
  <div class="container">

    <div class="row font-secondary">
      <div data-aos="fade-up">
        <h3 class="resume-title text-uppercase">Proyectos</h3>
        <div class="resume-item">
          <h4>AlkyBank</h4>
          <h5>10/2022 - 11/2022</h5>
          <p><em>Alkemy, Manhattan - Nueva York -
              EE.UU.</em></p>
          <p>Realización del BackEnd de una Wallet Digital (Alkybank) conformado por un equipo de 8 integrantes
            (incluyéndome) durante 2 semanas. Utilizando las metodologías ágiles SCRUM y KANBAN (Jira). Diseñada con
            Java (Spring boot) y MySQL para la base de datos.</p>
          <p>Tipo de proyecto: De terceros</p>
          <a href="https://drive.google.com/file/d/1FVo2MzVsJJt-Gxq1zHSP0MJagQAE3_pI/view" target="_blank">
            <button class="btn btn-dark btn-sm" type="button">
              Ver Evidencia
            </button>
          </a>
        </div>
        <div class="resume-item">
          <h4>AlkyBank</h4>
          <h5>10/2022 - 11/2022</h5>
          <p><em>Alkemy, Manhattan - Nueva York -
              EE.UU.</em></p>
          <p>Realización del BackEnd de una Wallet Digital (Alkybank) conformado por un equipo de 8 integrantes
            (incluyéndome) durante 2 semanas. Utilizando las metodologías ágiles SCRUM y KANBAN (Jira). Diseñada con
            Java (Spring boot) y MySQL para la base de datos.</p>
            <p>Tipo de proyecto: De terceros</p>
          <a href="https://drive.google.com/file/d/1FVo2MzVsJJt-Gxq1zHSP0MJagQAE3_pI/view" target="_blank">
            <button class="btn btn-dark btn-sm" type="button">
              Ver Evidencia
            </button>
          </a>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->
