<div class="modal fade" id="modal-edit-about" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title font-primary font-bold h3">
          Editar Acerca de Mí
      </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #modalEditAbout>
        </button>
      </div>
      <div class="modal-body">
        <div class="container col-10">
          <form (ngSubmit)="onSubmit()">
            <div class="container font-secondary">
              <div class="row">
                <div class="col-12">
                  <input type="text" class="form-control" id="firstName"
                    placeholder="Nombre" name="firstName" [(ngModel)]="editAbout.firstName" autofocus required/>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="mb-2 mt-2">
                    <input type="text" class="form-control" id="lastName" placeholder="Apellidos"
                      name="lastName" [(ngModel)]="editAbout.lastName" required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="mb-2 mt-2">
                    <input type="text" class="form-control" id="title"
                    placeholder="Perfil" name="title" [(ngModel)]="editAbout.title" autofocus required/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="mb-2 mt-2">
                    <input type="text" class="form-control" id="aboutMe"
                    placeholder="Acerca de Mí" name="aboutMe" [(ngModel)]="editAbout.aboutMe" autofocus required/>
                  </div>
                </div>
              </div>
              <div class="d-grid gap-2 mt-2">
                <input class="btn btn-dark mb-2" type="submit" value="Editar">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>