<div *ngIf="career" class="resume-item mb-3">
  <h4>{{career.careerTypeName}} en {{career.name}}</h4>
  <h5>{{career.startDate}} - {{career.endDate}}</h5>
  <p><em>Instituto de Formación Tecnica Superior (IFTS) N° 11, Parque Patricios - CABA - Buenos Aires -
      Argentina.</em></p>
  <p>{{career.description}}</p>
  <p>Materias aprobadas: {{career.approvedSubjects}} - Materias totales: {{career.totalSubjects}}</p>
  <a href='{{career.studyPlanUrl}}' target="_blank">
    <button class="btn btn-dark btn-sm" type="button">
      Ver Plan de Estudio
    </button>
  </a>
  <div *ngIf="isAuth()">
    <button class="pencil-image"><i class="bi bi-pen-fill"></i></button>
    <button class="trashcan-image"><i class="bi bi-trash-fill"></i></button>
    <button class="add-image"><i class="bi bi-file-plus-fill"></i></button>
  </div>
</div>
