<section id="knowledge" class="knowledge-mf pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a font-primary">Conocimientos</h3>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672713719/portfolio/angular-icon_yvz6kz.svg"
                class="img-fluid" alt="Logo Angular" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">Angular</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img
                src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672714093/portfolio/typescriptlang-icon_td00ew.svg"
                class="img-fluid" alt="Logo Angular" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">Typescript</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img
                src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672714093/portfolio/w3_html5-icon_btg6yh.svg"
                class="img-fluid" alt="Logo Angular" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">HTML 5</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img
                src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672847876/portfolio/microsoft-sql-server-seeklogo.com_bmzzsu.svg"
                class="img-fluid" alt="Logo Angular" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">SQL Server</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672714093/portfolio/mysql-icon_ytcgm5.svg"
                class="img-fluid" alt="Logo Angular" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">MySQL</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img
                src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672714093/portfolio/springio-icon_fcjzvb.svg"
                class="img-fluid" alt="Logo Angular" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">Spring</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672714095/portfolio/github-icon_lsq5rb.svg"
                class="img-fluid" alt="Logo Angular" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">GitHub</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672714095/portfolio/java-icon_ietsah.svg"
                class="img-fluid" alt="Logo Angular" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">Java</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img
                src="https://res.cloudinary.com/dwirzebm8/image/upload/v1672714093/portfolio/getbootstrap-icon_tevteo.svg"
                class="img-fluid" alt="Logo Angular" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">Bootstrap</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
