<section id="knowledge" class="knowledge-mf pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a font-primary">Conocimientos</h3>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div *ngIf="technologies" class="row">
      <div class="col-md-4" *ngFor="let technology of technologies">
        <div class="knowledge-box">
          <div class="knowledge-ico">
            <span class="ico-circle">
              <img src='{{technology.logoUrl}}'
                class="img-fluid" alt="logo" width="50px" />
            </span>
          </div>
          <div class="knowledge-content">
            <h2 class="s-title font-secondary">{{technology.name}}</h2>
          </div>
          <div *ngIf="isAuth()" class="crud-icons">
            <button class="pencil-image"><i class="bi bi-pen-fill"></i></button>
            <button class="trashcan-image"><i class="bi bi-trash-fill"></i></button>
            <button class="add-image"><i class="bi bi-file-plus-fill"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
